@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
* {
    text-decoration: none !important;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    list-style: none;
}

body {
    align-items: center !important;
    text-align: center !important;
    font-family: 'Roboto Mono', monospace !important;
    color: #fff !important;
}

nav {
    position: fixed;
    width: 100%;
    padding: 25px 0;
    font-family: 'Montserrat' , sans-serif;
    z-index: 100;
    transition: all 0.4s ease;
}
nav.sticky {
    padding: 10px 0;
    background: #393E46;
}

nav .navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .logo a {
    margin: 0 50px;
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 4px;
    color: white;
}

.header  {
    padding: 200px 0;
}

.head-txt {
    letter-spacing: 4px;
}

nav .navbar .menu {
    display: flex;
}

nav .navbar .menu li {
    margin: 0 10px;
    padding: 0 20px;
}

.navbar .menu li {
    font-size: 20px;
    font-weight: 500;
}

.navbar .menu li a {
    color: white;
    letter-spacing: 3px;
    padding: 10px;
    text-decoration: none;
}
.navbar .menu li a:hover {
    background: white;
    border-radius: 5px;
    color: black;
}

nav .Hambg-btn,
.navbar .cncl-btn {
    position: absolute;
    color: white;
    font-size: 30px;
    right: 40px;
    top: 20px;
    display: none;
    cursor: pointer;
}

.xl-heading {
    font-size: 4.4rem;
}

.title {
    letter-spacing: 5px;
    width: 20%;
    border-left: 3px solid #515055;
}

.icon {
    font-size: 4.4rem;
}

.icon:hover {
    color: #476072;
}

lines {
    border-bottom: 3px solid #FFD523;
}

line {
    border-bottom: 3px solid #476072;
}

.social-media-links {
    padding: 4%;
    letter-spacing: 10px;
}

.img-about:hover {
    box-shadow: 0 20px 20px rgba(238, 0, 0, 0.19), 0 10px 10px rgba(0,0,0,0.23);
}

.card:hover {
    box-shadow: rgba(201, 39, 39, 0.75);
}

.bottom:hover {
    border-bottom: 2px solid #FFD523;
}

/* ----------------- Tech Stack----------------- */
.icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(255, 104, 104, 0.08);
    transition: ease-in-out 0.2s;
}
  
.icon-box i {
    font-size: 40px;
    padding-right: 10px;
    line-height: 1;
}
  
.icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
  
.icon-box:hover {
    background: rgba(211, 0, 0, 0.12);
}
  
/* ----------------- Services ----------------- */
.service-box {
    display: table-column;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgba(255, 104, 104, 0.08);
    transition: ease-in-out 0.2s;
}

.service-box:hover {
    background: rgba(211, 0, 0, 0.12);
}

/* ----------------- Loading Effect ----------------- */
.line {
    position: relative;
    top: 50%;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}

/* ----------------- Projects ----------------- */
.main{
    max-width: 1200px;
    margin: 0 auto;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.bttn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}
.bttn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cards_item {
    display: flex;
    padding: 0.5rem;
}
@media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
}
@media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
} 
.card {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #707070 40%, #44372f 100%);
}
.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}
.card_text {
    color: #FFD523;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
}

/* ----------------- Background Animation ----------------- */
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(255, 255, 255) 50%, rgb(190, 190, 190) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
/* ----------------- Mobile Responsive Navigation ----------------- */
@media only screen and (max-width: 800px) {
    nav .navbar .menu {
        position: absolute;
        left: -100%;
        top: -10px;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background-color: gray;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        transition: all 0.5s ease;
    }

    nav .navbar.active .menu {
        left: 0;
    }

    .navbar .menu li a {
        display: block;
        margin: 10px 0;
        font-size: 25px;
        color: white;
    }
    nav .Hambg-btn,
    .navbar .cncl-btn {
        display: block;
    }
    .card_title {
        font-size: 4vw;
    }
    .card_text {
        font-size: 3vw;
    }
}